
@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(90deg);
    }
    40%, 60% {
        transform: rotateY(0deg);
    }

    80%, 85% {
        transform: rotateY(90deg);

    }
    100% {
        transform: rotateY(0deg);
    }
}
.startAnimation {
    animation-name: rotate;
    animation-duration: var(--animation-duration);
    animation-play-state: running;
}

.card {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    border-radius: 1rem;
}

.cardHoverLayer {
    position: absolute;
    inset: 0;
    z-index: 10;
    background: transparent;
    pointer-events: all;
  }

  
.cardInner {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 0.15s ease;
    will-change: transform;
    border-radius: 1rem;
    outline: 2px solid white;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  }



.stopAnimation {
    animation-play-state: paused;
}

.gem {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    perspective: 1000px;
    transform: scale3d(1, 1, 1);
    pointer-events: none;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
    transition: filter 0.2s;
}


.midGem {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 25px);
}

.leftGem {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50% - 30px), 25px);
}

.rightGem {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50% + 30px), 25px);
}

.card:hover{
    cursor: pointer;
}

